{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
        <div class="items-sec">
            {% for product in productos %}
                <div class="col-md-3 feature-grid">
                     <a href="{{ product.get_absolute_url }}"><img src="{{ product.imagen.url }}" alt=""/>
                         <div class="arrival-info">
                             <h4>{{ product.nombre }}</h4>
                             <p> $ {{ product.precio }}</p>
                             <span class="pric1"><del>Rs 18000</del></span>
                             <span class="disc">[12% Off]</span>
                         </div>
                         <div class="viw">
                            <a href="{{ product.get_absolute_url  }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Ver</a>
                         </div>
                      </a>
                 </div>
            {% endfor %}
			 <div class="clearfix"></div>
        </div>


{% endblock %}